[user]
    name = LawAbidingCactus
    email = lawabidingcactus@lawabidingcactus.com
    signingkey = 09396E67CCFD945008A4C4B491403AC0BF58F1C6

[gpg]
    program = qubes-gpg-client-wrapper

[commit]
    gpgsign = true
